/* CSS file */
.barChartMainPanel
{
	headerHeight : 0;
	borderThicknessBottom : 0; 
	borderThicknessLeft : 0; 
	borderThicknessRight : 0;	
}

.scaleLabel
{
	font-Family :verdana, arial; 
	top : -4;
	font-Size : 11;
	text-align : center;
}

/*es utilizado para la funcion backgroundStyle en la clase BarChart
  para setearle el estilo a los sabados y domingos*/
.weekendLabel
{
	font-Family :verdana, arial; 
	top : -4;
	font-Size : 11;
	text-align : center;
	font-weight : bold;
	xbackground-color : #EAEAEA;	
}

/*es utilizado para la funcion backgroundStyle en la clase BarChart
  para setearle el estilo a los dias de la semana*/
.weekDayLabel     
{
	font-Family : verdana, arial; 
	top : -4;
	font-Size : 11;
	textAlign : center;
	font-weight : normal;
	background-color : #FFFFFF;		
}
/*le setea el estilo del canvas que contiene los dos dataGrid*/
.canvasDataGrids   
{
	font-family : verdana, arial;
	/*background-Alpha : .1;*/
}
/* setea el estilo de la grilla donde se encuentran las fechas donde dibuja las lineas de las fechas*/
.gridDatesLines    
{ 
	/*alternatingItemColors : #FFFFF8, #FFFFF8;
	verticalGridLineColor : #000000;
	rollOverColor : #E2E2E2;*/
	font-family : verdana, arial;
	top : 0;
	bottom : 0;
	right : 0;
    border-thickness : 1; 
    verticalGridLines : true;
    rollOverColor : #FFFFFF;
	selection-Color:#FFFFFF;
}
/*setea el estilo de la grilla en el que se encuentran las dependencias y las tareas dibujadas*/
.gridTaskRenderer   
{
	/*alternatingItemColors : #FFFFF8, #FFFFF8;
	verticalGridLineColor : #000000; */
    border-thickness : 1; 
    verticalGridLines : true;
	font-family : verdana, arial;
	background-Alpha : .1;
	alpha : .8;
	top : 0;
	right : 0;
	bottom : 0;
	rollOverColor : #FFFFFF;
	/*selection-Color:#ffffff;*/
}
.canvasDates
{
	border-Style : solid; 
	border-Color : black;
}

.bottomNav
{
	background-Color : #eeecd1;
	text-align : center;	
}
.labelVisibleMonth
{
	font-Family :verdana, arial; 
	font-Size : 11;
}



